{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="container "> <a href="/?id={{op.num}}"><h3 class=" btn-success  text-center"">{{op.eq}}</h3> </div></a>
<form >
  <div class="form-group">
    <label for="cir">Circuiti</label>
    <input   class="form-control" name=cir id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Teli" 
	{% if slug %}
	value="{{slug}}"
	{% endif %}
	>
	<input   class="form-control d-none" name=id id="id" aria-describedby="emailHelp" placeholder="12000" value="{{id}}">
  </div>
 <div class="form-group container">

{% if start %}   
<div id="radio1" class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="con" value="{{start}}">
  <label class="form-check-label" for="flexRadioDefault1">
    {{start}}
  </label>
</div>
{% endif %}
{% if end %}
<div id="radio2" class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="con" checked value="{{end}}">
  <label class="form-check-label" for="flexRadioDefault2">
    {{end}}
  </label>
</div>
{% endif %}

{% if start or end%}
<div class="container">

<input   class="form-control d-none" name=defekt id="defekt" aria-describedby="emailHelp" value="Vendosje e gabuar">
<label class="form-check-label" for="DEFECT">Kodi i difektit</label>
<select  id="defekt_s" class="form-select" aria-label="Default select example">

	<option value="Vendosje e gabuar">Vendosje e gabuar </option>
	<option value="Mungese qarku">Mungese qarku</option>
	<option value="Nuk ka kontakt">Nuk ka kontakt</option>
	<option value="Fije ne fashim">Fije ne fashim</option>
	<option value="Mungese vule">Mungese vule</option>
	<option value="Vule e demtuar">Vule e demtuar</option>
	<option value="Konektor i gabuar">Konektor i gabuar</option>
	<option value="Konektor i demtuar">Konektor i demtuar</option>
	<option value="Terminal i gabuar">Terminal i gabuar</option>
	<option value="Terminal i demtuar">Terminal i demtuar</option>
	<option value="Fije shtese">Fije shtese</option>
	<option value="Presime Boshe">Presime Boshe</option>
	<option value="Mungese konektori">Mungese konektori</option>
	<option value="SHORT">SHORT</option>
	<option value="EXTRA">EXTRA</option>
	<option value="CLICK">CLICK</option>
	<option value="HERMETIK">HERMETIK</option>
</select>
</div>
<div class="container">
<label class="form-check-label" for="ASSY">Lideri i ASSY</label>

	{% if op.eq == 'NX4e' or "O" %}
	<input   class="form-control d-none" name=assy id="assy" aria-describedby="emailHelp" value="BSH">
	<select class="form-select" id="assy_s" aria-label="Default select example">
	<option value="BSH">BSH</option>
	<option value="AM">AM</option>
	<option value="GP">GP</option>
	<option value="MR">MR</option>
	<option value="GM">GM</option>
	<option value="DH">DH</option>
	</select>
	{% endif %}
	{% if op.eq == 'NQ5e' or "O"  %}
	
	<input   class="form-control d-none" name=assy id="assy" aria-describedby="emailHelp" value="VXH">
	<select class="form-select" id="assy_s" aria-label="Default select example">
	<option value="VXH">VXH</option>
	<option value="EL">EL</option>
	<option value="AK">AK</option>
	<option value="EK">EK</option>
	<option value="ELL">ELL</option>
	<option value="BM">BM</option>
	<option value="SD">SD</option>
	<option value="AD">AD</option>
	<option value="FB">FB</option>
	</select>
	{% endif %}

</div>


<div class="container">
<label class="form-check-label" for="sub">Lideri i SUB</label>
	{% if op.eq == 'NX4e' or "O"  %}
	<input   class="form-control d-none" name=sub id="sub" aria-describedby="emailHelp" value="VXH">
	<select class="form-select" aria-label="Default select example">
	<option value="MB">MB</option>
	<option value="AM">AM</option>
	</select>
	{% endif %}
	{% if op.eq == 'NQ5e' or "O"  %}
	<input   class="form-control d-none" name=sub id="sub" aria-describedby="emailHelp" value="MZ">
	<select class="form-select" id="sub_s" aria-label="Default select example">
	<option value="MZ">MZ</option>
	<option value="MD">MD</option>
	</select>
	{% endif %}
</div>

<div class="container">
<label class="form-check-label" for="ASSY">Veprimi</label>
<input   class="form-control d-none" name=masa id="masa" aria-describedby="emailHelp" value="Refuzim">
<select class="form-select" id="masa_s" aria-label="Default select example">

	<option value="Refuzim">Refuzim</option>
	<option value="Riparim">Riparim</option>
</select>
</div>
{%  endif %}

</div>
  </div>
  <div class="form-group form-check">
  <button type="submit"  class="btn btn-primary">Ploteso</button>
</form>
</div>
<div class="container">
    
    <table class="table table-bordered">
    <thead>
      <tr>
        <th class="btn-primary">Teli</th>
        <th class="btn-warning">Grupi</th>
        <th class="btn-secondary">Konektori</th>
        <th class="btn-danger">Koha</th>
      </tr>
    </thead>
    <tbody>
      
     {% for article in Last %} 
      
      <tr>
        <td>{{ article.cir }}</td>
        <td class="btn btn-warning">{{article.grup }}</td>
	
	<td class="btn-secondary">{{article.pos }}</td>
        <td>{{ article.cd}}</td>
      </tr>
      {%endfor%}
      
      </tbody>
    </table>
    </div>

<div class="container">
<a class="btn-success" href='r'>Shkarko</a>
</div>


{% endblock content %}

{% block script %}
<script>
if({{id}}){
if('{{op.eq}}'=="NX4e"){
availableTags=NX4e;
};
if('{{op.eq}}'=="NQ5e"){
availableTags=NQ5e;
};
};
function post(){
	console.log($("#exampleInputEmail1").serialize());
    var dataString =  $('input[name=cir]').val();
    window.location.replace("r/"+dataString.substring(1));
     
};

$(document).ready(function () {
    $('#defekt_s').on('change', function () {
	var s = ($('#defekt_s').val());
	document.getElementById("defekt").value  = s;
    });
	$('#assy_s').on('change', function () {
	var q = ($('#assy_s').val());
	document.getElementById("assy").value  = q;
    });
	$('#sub_s').on('change', function () {
	var w = ($('#sub_s').val());
	document.getElementById("sub").value  = w;
    });
	$('#masa_s').on('change', function () {
	var s = ($('#masa_s').val());
	document.getElementById("masa").value  = s;
    });
  });
  $( function() {
    
$( "#exampleInputEmail1t" ).keypress(function() {
  console.log($( "#exampleInputEmail1").serialize());
});

$('#exampleInputEmail1t').blur(function()
{
    if( $(this).val().length === 0 ) {
        console.log('warning');
    }
});


$( "#exampleInputEmail1" ).autocomplete({
      source: availableTags
    });
  } );


  </script>

{% endblock script %}

